<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/base.css">
    <title>No data from arduino</title>
</head>

<body >
    
        <h1 style="text-align: center;">
            NO Microcontroller detected.
        </h1>

        <br>
    <div style="background-color: aqua;">
        <h2 style="text-align: center;" > This objective of this program is to demonstrate understanding of web dev concepts</h2>
        <p style="text-align: center;" >This program was initially developed to be used in tandem with a microcontroller to running c/c++ to retrieve realtime environmental data. </p>
        <br>
        
        <p style="text-align: center;" > To continue without the microcontroller click the following link. Note that older data will be used <a href="base">CONTINUE</a>  </p> <br>
        <p style="text-align: center;" >Note: to access The admin page in the next page use the following details:</p> <br>
        <p style="text-align: center;" >username: admin</p><br>
        <p style="text-align: center;" >password: 12345</p>
    </div>
</body>
</html>