body{
    height: 100vh;
    background-color: aliceblue;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    
}

h1{
    text-align: center;
}
.container{
    justify-content: center;
}

.sensor_reading{
    background-color: rgba(235, 241, 241,0.9);
    height: 40%;
    width: 50%;
    justify-self: center;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 10px;
    border-radius: 2px;
    border-color: black;
}

.graph{
    border-top: 10px;
    border-radius: 2px;
    border-color: black;
    /*background-color: rgba(244, 244, 231,0.9);*/
    height: fit-content;
    width:80%;
    justify-self: center;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.thumbnail_container{
    height: 70%;
    width: 70%;
    justify-content: center;
    justify-self: center;
}

.thumbnail{
    object-fit: contain;
}